* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    font-size: 100%;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: all .2s linear;
}

h2 {
    color: $red;
    font-weight: 600;
}