header {
    nav {
        ul {
            width: 30%;
            li {
                display: inline-block;
                text-decoration: none;
                list-style: none;
                font-size: 0.875rem;
            }
        }
    }
    .onglets_header {
        display: flex;
        .onglet {
            display: flex;
            background-color: rgba(0, 0, 0, 0.40);
            img {
                width: 5%;
            }
            p {
                text-transform: uppercase;
            }
        }
    }
}