        .index {
            text-align: center;
            background-color: $primaryColor;
            .image {
                height: auto;
                border-radius: 5px;
            }
            //GRID CIRCUITS
            .circuits {
                margin: 50px auto;
                .circuits_grid {
                    display: grid;
                    grid-template-rows: repeat (2, 1.5fr) repeat(1, 0.5fr);
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2.5%;
                    width: 70%;
                    margin: 60px auto;
                    // position: relative;
                    .vignette {
                        width: 100%;
                        height: auto;
                        img {
                            // position: absolute;
                            z-index: 1;
                            box-shadow: inset -15px -15px 14px -1px #000000;
                        }
                    }
                    .circuit_info {
                        color: white;
                        width: 100%;
                        // display: block;
                        // position: absolute;
                        z-index: 2;
                        top: 360px;
                    }
                    .row-1 {
                        grid-row: 1/2;
                    }
                    .row-2 {
                        grid-row: 2/3;
                    }
                    .row-3 {
                        grid-row: 3/4;
                    }
                    .col-1 {
                        grid-column: 1/2;
                    }
                    .col-2 {
                        grid-column: 2/3;
                    }
                    .col-3 {
                        grid-column: 3/4;
                    }
                }
            }
            //GRID INSPIRATIONS
            .inspirations {
                margin: 30px auto;
                width: 70%;
                .inspi_grid {
                    margin: 40px auto;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(4 1fr);
                    gap: 2.5%;
                    .img1 {
                        grid-row: 1/4;
                        grid-column: 1/2;
                    }
                    .img2 {
                        grid-row: 1/2;
                        grid-column: 2/3;
                    }
                    .img3 {
                        grid-row: 1/4;
                        grid-column: 3/4;
                    }
                    .img4 {
                        grid-row: 4/5;
                        grid-column: 1/2;
                    }
                    .img5 {
                        grid-row: 2/5;
                        grid-column: 2/3;
                    }
                    .img6 {
                        grid-row: 4/5;
                        grid-column: 3/4;
                    }
                    .card {
                        position: relative;
                        .inspi_img {
                            // position: absolute;
                            z-index: 1;
                        }
                        .inspi_info {
                            color: white;
                            position: absolute;
                            z-index: 2;
                            top: 50%;
                        }
                    }
                }
            }
        }